<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CodedThoughtValidationSettings" type="CodedThought.Core.Configuration.CoreSection,CodedThought.Core.Validation"/>
  </configSections>

  <CodedThoughtValidationSettings>
    <!-- These settings can be used to over-->
    <add key="Required" message="" />
    <add key="Equals" message="" />
    <add key="GreaterThan" message="" />
    <add key="GreaterThanEqTo" message="" />
    <add key="LessThan" message="" />
    <add key="LessThanEqTo" message="" />
    <add key="NotEqual" message="" />
    <add key="InvalidEmail" message="" />
    <add key="NotInList" message="" />
    <add key="NotBetween" message="" />
    <add key="NotUpper" message="" />
    <add key="NotLower" message="" />
    <add key="ExceedsMax" message="" />
    <add key="MinimumNotReached" message="" />
  </CodedThoughtValidationSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>